header{ 
position:absolute; 
width:100%; 
height:170px; 
background:#08088A; 
vertical-align: middle; 
line-height: 0px; 
text-align:center; 
opacity:0.8; 
left:0; 
top:0; 
} 

.headtype{ 
font-size:400%; 
font-family:"Verdana", Geneva, sans-serif; 
text-shadow:2px 2px #47477E; 
} 

body{ 
background:#CED8F6; 

} 
img{ 
margin-top:-15px; 
} 


#formulario_registro{ 
position:absolute; 
top:200px; 
width:200px; 
height:140px; 
margin: 0 auto;  
  top: 50%; 
    left: 50%; 
        margin-top: -100px; 
    margin-left: -100px; 
    background:gray; 
} 

#go{ 
color:green; 
} 
#cancel{ 
color:orange; 
} 
#enlaces{ 
position:absolute; 
top:200px; 
font-size:200%; 
} 

#enlaces a{ 
color:gray; 
text-decoration:none; 
} 
#enlaces a:visited{ 
color:gray; 
text-decoration:none; 
} 
#enlaces a:hover{ 
color:black; 

} 
#enlaces ul{ 
list-style-type:none; 
} 